
@media  screen and (min-width: 1440px) {
    // General adjustments
    .container{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    //Header adjustments
    .main-header{
        padding: 70px 80px;
        .main-menu{
            ul{
                display: flex;
                gap: 28px;
            }
            .burger{
                display: none;
            }
        }
    }
    
    //Hero adjustments
    .hero{
        padding: 112px 0px 182px;
        &-container{
            &__title{
                font-size: 96px;
                line-height: 116px;
                margin-bottom: 32px;
            }
            &__subtitle{
                margin-bottom: 41px;
            }
            .box1{
                margin-top: 18px;
                max-width: 620px;
                .br1{
                    display: none;
                }
                .br2{
                    display: block;
                }
            }
            .box2{
                top: 26%;
                right: 109px;
                height: 800px;
                width: 741px;
            }

        }
    }
    
    // Early Birds Section adjustments
    .early-birds{
        .container{
            max-width: 1280px;
            height: auto;
        }
        .banner{
            padding: 154px 64px 64px;
            border-radius: 15px;
        }
        &__title{
            margin-bottom: 24px;
        }
    }

    //Company Section adjustments
    .company{
        padding: 0;
        padding-top: 120px;
        &-grid{
            grid-template-columns: auto auto auto auto auto;
            gap: 105px;
            &__item4{
                display: block;
            }
            &__item6{
                display: none;
            }
            &__item1{
                display: block;
            }
        }
        .container{
            max-width: 1280px;
        }
    }
    
    //Auction Section adjustments
    .auction{
        margin: 0;
        &-container{
            margin-right: auto;
            margin-left: auto;
            padding-top: 120px;
            padding-bottom: 120px;
        }
        &-header{
            width: 100%;
            margin-bottom: 56px;
        }
    }

    //Launching section adjustments
    .launching{
        .container{
            padding: 0;
            gap: 202px;
        }
        .launching-box1{
            margin-top: 120px;
            max-width: 651px;
            .br1{
                display: block;
            }
            .br2{
                display: none;
            }
        }
        .launching-box2{
            margin-top: 85px;
        }
        &__title{
            font-size: 56px;
            line-height: 68px;
        }
    }

    // Footer adjustments
    .main-footer{
        padding: 0;
        .container{
            flex-direction: row;
            gap: 427px;
            padding-top: 120px;
            &.flex-row{
                padding-bottom: 71px;
            }
            

            .flexitem2{
                flex-direction: row;
                gap: 78px;
                height: 139px;
            }
        }
        .about-nft-grid{
            column-gap: 90px;
        }
        .contact-social-grid{
            column-gap: 75px;
            .nft__title{
                margin-bottom: 0;
            }
        }
        .about-nft-grid, .contact-social-grid{
            row-gap: 0;
            .nft__title{
                display: block;
                height: 20px;
            }
        }
        .footers-bottom{
            margin-top: 0;
            padding-top: 60px;
            justify-content: space-between;
            .launch-date{
                display: block;
            }
        }
        
    }
}