@use 'reset';
@use 'vars' as v;
@use 'common';
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


// Header
.main-header{
    padding: 32px;
    position: sticky;
    background-color: v.$light-1;
    z-index: 100;
    top: 0;
    width: 100%;
    .main-header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
    }
}

.main-menu {
    ul{
        display: none;
    }
    .burger{
        font-size: 30px;
        color: v.$dark-2;
        line-height: 1;
    }
}
// Hero Section
.hero{
    padding: 10px 0px 80px 32px;
}
.hero-container{
    display: flex;
    min-width: 482px;
    .box1{
        position: relative;
        width: 62%;
        margin-top: 38px;
    }
    &__subtitle{
        color: v.$pink;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    &__title{
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 24px;
    }
    &__desc{
        margin-bottom: 32px;
    }
    .box2{
        position: absolute;
        top: 10%;
        right: -48.5%;
        width: 100%;
        overflow: hidden;
        height: 374px
    }
}
// Early Birds section
.early-birds{
    .container{
        width: 428px;
        height: 326px;
    }
    .banner{
        background: linear-gradient(135deg, #f7a7cd,#f58b8b, #f37878,#f59772, #ff9239, #dfd687);
        padding: 122px 32px 32px 32px;
    }
    &__title{
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 16px;
    }
    &__subtitle{
        color: v.$primary-color
    }
}
// Company Section
.company{
    padding: 64px 32px 56px;
    .container{
        max-width: 100%;
    }
    &-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 27.5px;
        background-color: white;
        &__item1{
            align-self: center;
            width: 100%;
        }
        &__item4{
            display: none
        }

    }
}
// Auction Section
.auction{
    margin-left: 32px;
    margin-bottom: 92px;
    &-container{
        min-width: 1280px;
        max-width: 1280px;
    }
    &-header{
        width: 364px;
        margin-bottom: 40px;
        a{
            text-decoration: underline;
            text-decoration-color: v.$secondary-color;
            text-underline-offset: 5px;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 16px;
    }
    &__subtitle{
        color: v.$secondary-color
    }
    &-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);    
        gap: 40px;
    }
    &-card{
        &-grid{
            background-color: v.$light-2;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            padding: 24px 23px 24px 24px;
            max-width: 290px;
            margin-right: 0;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            column-gap: 24px;
            row-gap: 12px;
            &:nth-child(odd){
                justify-self: start;
            }
            &:nth-child(even){
                justify-self: end;
            }
        }

        &__series{
            color: v.$orange;
        }
        &__topbid{
            color: v.$dark-1;
        }
        &__title{
            font-size: 20px;
            line-height: 100%;
            font-weight: 500;
        }
        &__price{
            font-size: 20px;
            line-height: 100%;
            font-weight: 500;
        }
        &__desc{
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
        }
    }
}



// font-family: 'Varela Round', sans-serif; for header title


@import 'media';