@use 'reset';
@use 'vars' as v;
@use 'common';
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');



.main-header{
    padding: 32px;
    .main-header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
    }
}

.main-menu {
    ul{
        display: none;
    }
    .burger{
        font-size: 24px;
        color: v.$dark-2;
        line-height: 1;
    }
}









// font-family: 'Varela Round', sans-serif; for header title


@import 'media';